@page
@model LoginModel

@{
    ViewData["Title"] = "Acceso de usuarios";
}
<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5 min-vh-100">
                <div class="container">
                    <div class="row my-auto">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">@ViewData["Title"]</h3>

                            <form id="account" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                                <div class="form-floating mb-4">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label for="inputEmail" class="form-label">Correo Electrónico</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-4">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label for="inputPassword" class="form-label">Contraseña</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="d-grid">
                                    <button id="login-submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Acceder</button>
                                    <div class="text-center">
                                        <p>No tienes cuenta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Regístrate aquí</a></p>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

