@page
@model LoginModel

@{
    ViewData["Title"] = "Acceso de usuarios";
    }
    
    <style>
    .col-sm-3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2em;
    }
    </style>

<div class="container-fluid ps-md-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <br/>

                <br />
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 col-lg-8 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form id="account" method="post" class="row g-4">

                                    <h3 class="mb-3" style="color:#427D9D">@ViewData["Title"]</h3>
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                                    <div class="col-10">
                                        <label>Correo Electrónico<span class="text-danger">*</span></label>
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="col-10">
                                        <label>Contraseña<span class="text-danger">*</span></label>
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="contraseña" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>

                                    <div class="col-10">
                                        <button id="login-submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Acceder</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-4 ps-0 d-none d-md-block bg-image">
                        </div>
                    </div>
                </div>
                <p class="text-end text-secondary mt-3">No tienes cuenta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Regístrate aquí</a></p>



            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

